.main-container {
  width: 400px;
  height: 280px;
 background-color: #efb06d;
  /* background-color: rgb(135, 203, 185); */
  border: 2px solid #3b3a3a;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  margin: 20px auto;
  border-radius: 10px;
}
body {
  padding-top: 80px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url(Resources/img1.jpg);
  background-size: cover;
  background-position: center;
}

.countdown {
  margin: 30px;
  padding: 5px;
}

.countdown label,
.countdown input,
.countdown button {
  margin: 5px;
  padding: 10px;
}

#start{
  background-color: #04AA6D;
  width: 70px;
  border-radius: 12px;
  cursor: pointer;
}

#pause{
  background-color: #f44336;
  width: 70px;
  border-radius: 12px;
  cursor: pointer;
}

#reset{
   background-color: #FFB534;
    width: 70px;
    border-radius: 12px;
    cursor: pointer;
}
.countdown div {
  font-size: 30px;
  margin-top: 10px;
  padding: 5px;
}

.para {
  padding: 10px;
}
.footer{
  padding-top: 50px;
  text-decoration: dotted;
}